
"""
    Privaatsed seadistused.
"""

import random

# PATH_PROFILE_FIREFOX = "C:/Users/<user name>/AppData/Roaming/Mozilla/Firefox/Profiles/abc3defghij2.ProfileName"
ARTICLE_CACHE_POLICY = 'auto'  # options = 'all', 'auto', 'off'
DO_NOT_ADD_TOO_OLD = True  # Feedly does not support articles older than 30 days
FILE_ENCODING = "utf-8"
GET_ARTICLE_BODIES = True
HOST_URL = 'http://your.url/'
LOCAL_USERNAME = "username"
MAX_ARTICLE_BODIES = 200
MAX_ARTICLE_POSTS = 500
PATH_FILENAME_DEBUG = "/home/" + LOCAL_USERNAME + "/folder/debug.xml"
PATH_FILENAME_STAT = "/home/" + LOCAL_USERNAME + "/folder/statistics/stat.csv"
PATH_PROFILE_FIREFOX = "/home/" + LOCAL_USERNAME + "/.mozilla/firefox/nc5e7mij.default-1414525149095"
PATH_WEBDRIVER = "/home/" + LOCAL_USERNAME + "/folder/geckodriver"
PRINT_MESSAGE_LEVEL = 0
SELENIUM_DRIVER_DEFAULT = ""
SELENIUM_DRIVER_PROFILE = ""
TIMEOUT = 15  # sek
UPLOAD_NAME = 'rss_file'
UPLOAD_URL = HOST_URL + 'rss_generator.php'

BAD_DESCRIPTIONS = [
]

BAD_TITLES = [
]

HEADERS = {
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp',
    'Accept-Encoding': 'gzip,deflate;q=0.9',  # br ei käib heasti'
    'Accept-Language': 'et,et-EE;q=0.8,en-US;q=0.5,en;q=0.3',
    'Cache-Control': 'no-cache',
    'Connection': 'keep-alive',
    'DNT': '1',
    'Sec-GPC': '1',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; rv:78.0) Gecko/20100101 Firefox/91.0',
}

#                 parser,           name,               title,              description             domain                                  domain_rss (optional)
RSS_DEFS = []
RSS_DEFS.append(['tartuekspress',   'tartuekspress',    'Tartu Ekspress',   'uudised',              'http://tartuekspress.ee',              ['/index.php?&page=20&type=3']])  # noqa E241
