#!/usr/bin/env python3

"""
    Privaatsed seadistused
"""

LOCAL_USERNAME = "username"

HOST_URL = 'http://your.url/'
UPLOAD_URL = HOST_URL + 'script.php'
UPLOAD_NAME = 'filename'

HEADERS = {
    'Accept-Encoding': 'gzip, deflate, compress',
    'User-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:66.0) Gecko/20100101 Firefox/66.0', }

# definitions
GET_ARTICLE_BODIES = True
MAX_ARTICLE_BODIES = 200

PATH_WEBDRIVER = "/home/user/folder/geckodriver"

ARTICLE_CACHE_POLICY = 'auto'  # options = 'all', 'auto', 'off'

FILE_ENCODING = "utf-8"

PATH_PROFILE_FIREFOX = "/home/user/.mozilla/firefox/nc5e7mij.default-1414525149095"
# PATH_PROFILE_FIREFOX = "C:/Users/<user name>/AppData/Roaming/Mozilla/Firefox/Profiles/abc3defghij2.ProfileName"

TIMEOUT = 15  # sek

PATH_FILENAME_STAT = "/home/user/folder/statistics/stat.csv"
