
"""
    Privaatsed seadistused.
"""

import random

CACHE_FILE_ENCODING = "utf-8"
CACHE_POLICY_ARTICLE = 'auto'  # options = 'all', 'auto', 'off'
LOCAL_USERNAME = "username"
PATH_FILENAME_DEBUG = "/home/" + LOCAL_USERNAME + "/rss_generator/debug.xml"
PATH_FILENAME_FILTER = "/home/" + LOCAL_USERNAME + "/rss_generator/statistics/filter.csv"
PATH_FILENAME_STAT = "/home/" + LOCAL_USERNAME + "/rss_generator/statistics/xpath.csv"
PATH_FIREFOX_PROFILE = "/home/" + LOCAL_USERNAME + "/.mozilla/firefox/" + "xyz.default-esr"
PATH_WEBDRIVER = "/home/" + LOCAL_USERNAME + "/rss_generator/geckodriver"
PRINT_MESSAGE_LEVEL = 0
REQUEST_ARTICLE_BODIES = True
REQUEST_ARTICLE_BODIES_MAX = 200
REQUEST_ARTICLE_POSTS_MAX = 500
REQUEST_TIMEOUT = 10  # sek
SELENIUM_DRIVER = ""
SELENIUM_DRIVER_PROFILE = ""
UPLOAD_DOMAIN = 'http://domain.ee'
UPLOAD_NAME = 'rss_file'
UPLOAD_TIME_LIMIT = True  # Feedly does not support articles older than 30 days
UPLOAD_URL = UPLOAD_DOMAIN + '/rss-feeds/rss_generator.php'

RSS_DEFS = (
    # parser, name, title, description, domain, domain
    ('tartuekspress', 'tartuekspress', 'Tartu Ekspress', 'uudised', 'http://tartuekspress.ee', '/index.php?&page=20&type=3']),
)

BAD_DESCRIPTIONS = (  # filtreeri sõnu sisust
)

BAD_TITLES = (  # filtreeri sõnu pealkirjadest
    "eurovisioon",
)

DICTFILTERS_AMETID = (
)

HEADERS = {
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp',
    'Accept-Encoding': 'gzip,deflate;q=0.9',  # br ei käib heasti'
    'Accept-Language': 'et,et-EE;q=0.8,en-US;q=0.5,en;q=0.3',
    'Cache-Control': 'no-cache',
    'Connection': 'keep-alive',
    'DNT': '1',
    'Sec-GPC': '1',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; rv:78.0) Gecko/20100101 Firefox/91.0',
}
